{% extends "base.html" %}
{% load static %}

{% block title %}Register{% endblock %}

{% block content %}

<div class="container login-container">
    <div class="wrapper">
        <form action="{% url 'register_user' %}" method="post">
            {% csrf_token %}
            <h1>Register</h1>
            <div class="input-box">
                {{ form.username }}
                {% if form.username.errors %}
                <div class="alert alert-warning" role="alert">
                    {{ form.username.errors.as_text }}
                </div>
                {% endif %}
            </div>
            <div class="input-box">
                {{ form.email }}
                {% if form.email.errors %}
                <div class="alert alert-warning" role="alert">
                    {{ form.email.errors.as_text }}
                </div>
                {% endif %}
            </div>
            <div class="input-box">
                {{ form.password1 }}
                {% if form.password1.errors %}
                <div class="alert alert-warning" role="alert">
                    {{ form.password1.errors.as_text }}
                </div>
                {% endif %}
            </div>
            <div class="input-box">
                {{ form.password2 }}
                {% if form.password2.errors %}
                <div class="alert alert-warning" role="alert">
                    {{ form.password2.errors.as_text }}
                </div>
                {% endif %}
            </div>
            <button class="button-56" type="submit">Register</button>
            <div class="register-link">
                <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
            </div>
        </form>
    </div>
</div>


{% endblock %}

