*.pyc
backend/media/*
!backend/media/.gitkeep
backend/static/*
!backend/static/.gitkeep
backend/project/settings/secrets.py
backend/project/firebase_credentials.json
backend/celerybeat-schedule
backend/schema.yml
.cache
.pytest_cache
db.sqlite3
htmlcov/*
.coverage
.env.secret*
.vscode
.DS_Store
node_modules
/vuejs/dist
/react/build
react/src/core/http/api.ts
/backend/logs/*
# local env files
.env.local
.env.*.local
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
*.log
packages.microsoft.gpg

venv
*.xml
/pageturner/.venv/
