h1 {

font-family: 'Gloock', serif;
font-size: 5em;

}

h2, h3 {

font-family: 'Lora', serif;

}

.book-link {

font-family: 'Lora', serif;
font-size: 2em;

}

p {

font-family: 'Lora';
font-size: 1em;

}

body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,168,233,1) 100%);

}



.navbar {

    background: transparent;
    padding: 40px;

}

.form-control {

width: 300px;

}







