{% extends "base.html" %}

{% block title %}PageTurner Users{% endblock %}

{% block content %}

<div class="container-xxl d-flex justify-content-center">
    <div class="text-center">

        <h1 class="mb-5">PageTurner Users</h1>

        {% if profiles %}
        {% for profile in profiles %}

        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4 profile-image d-flex align-items-center justify-content-center">
                    {{ profile.avatar_svg|safe }}
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ profile.user.username }}</h5>
                        <p class="card-text">@{{ profile.user.username|lower }}</p>
                        <p class="card-text"><small class="text-body-secondary">Last updated: {{ profile.date_modified }}</small></p>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
        {% endif %}
        {% endblock %}