{% extends "base.html" %}

{% block title %}My Shelf{% endblock %}

{% block content %}

{% if profile %}


<div class="container-xxl text-center">
    <div class="row">
        <div class="col-8 justify-content-center mx-auto my-5 text-center">
<!-- Read books carousel -->
            <h3 class="mb-3">Books Read:</h3>

            <div class="carousel-wrapper">
            <div class="carousel">
                <div class="carousel-content">

            {% if profile.books_read.all %}
            {% for book in profile.books_read.all %}

                    <a href="{% url 'book_detail' book.id %}"><img src="{{ book.cover_url }}" alt="{{ book.title }}" class="item"></a>

            {% endfor %}
            {% else %}
             <p>No added books yet.</p>
            {% endif %}
              </div>
              </div>
              <button class="prev"><i class="fa-solid fa-arrow-left"></i>
              </button>
              <button class="next"><i class="fa-solid fa-arrow-right"></i>
              </button>
            </div>

<!--Bookmarked books carousel -->
            <h3 class="mt-5 mb-3">Bookmarks:</h3>

            <div class="carousel-wrapper">
            <div class="carousel">
                <div class="carousel-content">

            {% if profile.books_bookmarked.all %}
            {% for bookmark in profile.books_bookmarked.all %}
                    <a href="#"><img src="{{ bookmark.cover_url }}" alt="{{ bookmark.title }}" class="item"></a>
            {% endfor %}
            {% else %}
            <p>No bookmarks available.</p>
            {% endif %}

            </div>
              </div>
              <button class="prev"><i class="fa-solid fa-arrow-left"></i>
              </button>
              <button class="next"><i class="fa-solid fa-arrow-right"></i>
              </button>
            </div>

<!--My snippets section-->
            <div class="snippets-container justify-content-center">
            <div class="snippets-section">
            <h3 class="mt-5 mb-3">My snippets:</h3>
            {% if user_snippets %}
            {% for snippet in user_snippets %}
            <div class="comment-card mb-3">
                <div class="container">
                    <div class="row">
                        <div class="col-2">
                            {% if profile.profile_image %}
                            <img class="profile-image-snippet" src="{{ profile.profile_image.url }}">
                            {% endif %}
                        </div>
                        <div class="col-10">
                            {{ snippet.body }} <br/>
                            <small class="text-muted"> by <a href="{% url 'profile' snippet.user.profile.user.id %}">
                                @{{ snippet.user.username }}</a> on
                                {{ snippet.created_at }}
                                {{ snippet.number_of_likes }}
                                {% if user in snippet.likes.all %}
                                <a href="{% url 'snippet_like' snippet.id %}"><i class="fa-solid fa-heart"
                                                                                 style="color:red"></i></a>
                                {% else %}
                                <a href="{% url 'snippet_like' snippet.id %}"><i class="fa-regular fa-heart"
                                                                                 style="color:red"></i></a>
                                {% endif %}
                                <a href="{% url 'snippet_share' snippet.id %}"><i class="fa-solid fa-share"
                                                                                  style="color:gray"></i></a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>No posted snippets yet 😥</p>
            {% endif %}
            </div>

<!--Shared snippets section -->
            <div class="snippets-section">
            <h3 class="mt-5 mb-3">Snippets I shared:</h3>
            {% if shared_snippets %}
            {% for snippet in shared_snippets %}

            <div class="comment-card mb-3">
                <div class="container">
                    <div class="row">
                        <div class="col-2">
                            {% if snippet.original_snippet.user.profile.profile_image %}
                            <img class="profile-image-snippet"
                                 src="{{ snippet.original_snippet.user.profile.profile_image.url }}">
                            {% endif %}
                        </div>

                        <div class="col-10">
                            {{ snippet.original_snippet.body }} <br/>
                            <small class="text-muted"> originally posted by <a href="{% url 'profile' snippet.original_snippet.user.profile.user.id %}">
                                @{{ snippet.original_snippet.user.username }}</a> on
                                {{ snippet.original_snippet.created_at }}
                                {{ snippet.original_snippet.number_of_likes }}
                                {% if user in snippet.original_snippet.likes.all %}
                                <a href="{% url 'snippet_like' snippet.original_snippet.id %}"><i
                                        class="fa-solid fa-heart" style="color:red"></i></a>
                                {% else %}
                                <a href="{% url 'snippet_like' snippet.original_snippet.id %}"><i
                                        class="fa-regular fa-heart" style="color:red"></i></a>
                                {% endif %}
                                <a href="{% url 'snippet_share' snippet.original_snippet.id %}"><i
                                        class="fa-solid fa-share" style="color:gray"></i></a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>No shared snippets yet 😥</p>
            {% endif %}
                </div>

<!--My reviews section-->
            <div class="reviews-section">
            <h3 class="mt-5 mb-3">My Reviews:</h3>
                    {% if user_reviews %}
                    {% for review in user_reviews %}

                <div class="review-posted mb-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-2">
                                {% if profile.profile_image %}
                                <img class="profile-image-snippet" src="{{ profile.profile_image.url }}">
                                {% endif %}
                            </div>
                            <div class="col-10">
                                {{ review.content }} <br/>
                                <small class="text-muted"> by <a href="{% url 'profile' review.written_by.profile.user.id %}">
                                    @{{ review.written_by.username }}</a> on
                                    {{ review.date_created }}
                                    {{ review.number_of_likes }}
                                    {% if user in review.likes.all %}
                                    <a href="{% url 'review_like' review.id %}"><i class="fa-solid fa-heart"
                                                                                     style="color:red"></i></a>
                                    {% else %}
                                    <a href="{% url 'review_like' review.id %}"><i class="fa-regular fa-heart"
                                                                                     style="color:red"></i></a>
                                    {% endif %}
                                    <a href="{% url 'review_share' review.id %}"><i class="fa-solid fa-share"
                                                                                      style="color:gray"></i></a>
                                </small>
                            </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>No posted reviews yet 😥</p>
            {% endif %}
            </div>


                <div class="reviews-section">
            <h3 class="mt-5 mb-3">Reviews that I shared:</h3>
                    {% if shared_reviews %}
                    {% for review in shared_reviews %}

                <div class="review-posted mb-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-2">
                                {% if review.original_review.written_by.profile.profile_image %}
                                <img class="profile-image-snippet" src="{{ review.original_review.written_by.profile.profile_image.url }}">
                                {% endif %}
                            </div>

                            <div class="col-10">
                                {{ review.original_review.content }} <br/>
                                <small class="text-muted"> originally posted by <a href="{% url 'profile' review.original_review.written_by.profile.user.id %}">
                                    @{{ review.original_review.written_by.username }}</a> on
                                    {{ review.original_review.date_created }}
                                    {{ review.shared_review.shared_at }}
                                    {{ review.original_review.number_of_likes }}
                                    {% if user in review.original_review.likes.all %}
                                    <a href="{% url 'review_like' review.original_review.id %}"><i class="fa-solid fa-heart"
                                                                                     style="color:red"></i></a>
                                    {% else %}
                                    <a href="{% url 'review_like' review.original_review.id %}"><i class="fa-regular fa-heart"
                                                                                     style="color:red"></i></a>
                                    {% endif %}
                                    <a href="{% url 'review_share' review.original_review.id %}"><i class="fa-solid fa-share"
                                                                                      style="color:gray"></i></a>
                                </small>
                            </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>No shared reviews yet 😥</p>
            {% endif %}
            </div>

        </div>
        </div>


        <div class="col-4">
            <div class="profile-section">

            <div class="card mt-2 mb-5 px-3 py-3">
                <div class="card-body d-flex flex-column align-items-center">
                {% if profile.profile_image %}
            <img class="profile-image-main mb-2" src="{{ profile.profile_image.url }}">
            {% endif %}
                <h5 class="card-header">@{{profile.user.username}}</h5>
                </div>
                <div class="card-body">

                    {% if profile.homepage_link %}
                    <div class="container-links mt-3 mb-3">
                        <a href="{{ profile.homepage_link }}" target="new"><i class="fa-brands fa-goodreads fa-2xl mx-2"
                                                                              style="color:brown"></i></a>
                        {% endif %}
                        {% if profile.facebook_link %}
                        <a href="{{ profile.facebook_link }}" target="new"><i class="fa-brands fa-facebook fa-2xl mx-2"
                                                                              style="color:blue"></i></a>
                        {% endif %}
                        {% if profile.instagram_link %}
                        <a href="{{ profile.instagram_link }}" target="new"><i
                                class="fa-brands fa-instagram fa-2xl mx-2" style="color:red"></i></a>
                        {% endif %}
                    </div>

                    {% if profile.profile_bio %}
                    <p align="center">{{ profile.profile_bio }}</p>
                    {% else %}
                    <p>Just a nice member of our book community ❤️</p>
                    {% endif %}


                {% if request.user.id == profile.user.id %}
                <a class="button-56" href="{% url 'update_user' %}">Update Profile</a>

                {% else %}

                <form method="post">
                    {% csrf_token %}
                    {% if profile in user.profile.follows.all %}
                    <p align="center">You are following @{{ profile.user.username|lower }}</p>
                    <button class="button-56" name="follow" type="submit" value="unfollow">Unfollow @{{ profile.user.username|lower }}
                    </button>
                    {% else %}
                    <button class="button-56" name="follow" type="submit" value="follow">Follow @{{ profile.user.username|lower }}
                    </button>

                    {% endif %}


                    {% endif %}

                </form>
            </div>



            <div class="card mt-3 mb-5">
                <h5 class="card-header">Follows</h5>
                <div class="card-body">

                    <div class="card-text">
                        {% if profile.follows %}
                        {% for following in user.profile.follows.all %}
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                {% if following.profile.profile_image %}
                                <img class="profile-image-snippet" src="{{ following.profile.profile_image.url }}">
                                {% endif %}
                                <a class="mx-3" href="{% url 'profile' following.user.id %}">@{{ following }}</a>
                            </div>
                            <a href="{% url 'unfollow' following.user.id %}">
                                <i class="fa-solid fa-user-minus" style="color:red"></i>
                            </a>
                        </div>
                        <br/>
                        {% endfor %}
                        {% else %}
                        <p><b>{{ profile.user.username }}</b> doesn't follow anyone 😔</p>
                        {% endif %}
                    </div>


                </div>
            </div>
            <div class="card mt-3 mb-5">
    <h5 class="card-header">Followed by</h5>
    <div class="card-body">

        <div class="card-text">
            {% for following in profile.followed_by.all %}
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        {{ profile.avatar_svg|safe }}
                        <a class="mx-3" href="{% url 'profile' following.user.id %}">@{{ following }}</a>
                    </div>
                    {% if following in profile.follows.all %}
                        <a href="{% url 'unfollow' following.user.id %}">
                            <i class="fa-solid fa-user-minus" style="color:red"></i>
                        </a>
                    {% else %}
                        <a href="{% url 'follow' following.user.id %}">
                            <i class="fa-solid fa-user-plus" style="color:green"></i>
                        </a>
                    {% endif %}
                </div>
                <br/>
            {% endfor %}
        </div>

    </div>
</div>
            </div>




                </div>
            </div>
        </div>


{% endif %}
                <script src="/static/script.js"></script>

{% endblock %}