{% extends "base.html" %}

{% load static %}

{% block title %}Welcome Page{% endblock %}

{% block content %}

<div class="container-xxl">
        <div class="text-center">
<h1 class="mt-5">PageTurner Reviews</h1>
<h3 class="mt-5">find your next best read and leave a review</h3>
            <p class="mt-2">Not sure where to start?</p>
        </div>

<div class="button-container mt-3">
            <a class="button-56 book-info" href="{% url 'book_list' %}">View Best Books of All Times</a>
    </div>
    </div>



{% endblock %}