{% extends "base.html" %}

{% load custom_filters %}


{% load static %}

{% block title %}Book Details{% endblock %}

{% block content %}

<div class="container-xxl d-flex justify-content-center">
    <div class="text-center">

    <div class="container">
        <h2>{{ book.title }}</h2>

            <div class="row">
                <div class="col-6">
                    <div>
                    {% if book.cover_url %}
                    <img src="{{ book.cover_url }}" alt="Book Cover" class="book-cover">
                    {% endif %}
                        </div>
                </div>

                <div class="col-6">
                    <div class="book-info-card">
                        <a class="book-info-detail" href="#"><b>{{ book.author }}</b></a>
                        <p class="rating-detail mt-3"> ⭐️{{ book.rating }}</p>
                        <p class="summary mt-3">{{ book.summary }}</p>
                        <p>

                        {% for tag in book.get_tags_list %}
                        <a href="{% url 'book_genres_list' tag %}" class="badge badge-pill" style="color: #ffffff; background-color: {{ tag|random_color }};">{{ tag }}</a>
                        {% endfor %}

                        </p>
                        <p>Number of pages: {{ book.number_of_pages }} <em>({{ book.time }} to read the book)</em></p>
                        <div class="button-container mt-3 text-center">
                            <a class="button-56" href="{{ book.url }}" target="_blank">View this book on Goodreads</a>
                        </div>
                    </div>
                    <div class="buttons-user mt-5">
                        <a class="button-6" href="{% url 'mark_as_read' book.id %}">Mark as read</a>
                        <a class="button-6" href="{% url 'bookmark_book' book.id %}">Bookmark<i class="fa-solid fa-bookmark mx-2"></i></a>
                        <a class="button-6" href="{% url 'create_review' pk=book.id %}">Write a Review</a>
                        <a class="button-6" href="{{ book.amazon_link }}"><i class="fa-brands fa-amazon"></i></a>
                        <a class="button-6" href="{{ book.audible_link }}"><i class="fa-brands fa-audible"></i></a>
                        </div>
                </div>
            </div>
        </div>

        <h2>Reviews</h2>
        {% for review in reviews %}
        <div class="review-post">
                <div class="container">
                    <div class="row">
        <h4>Review by @{{ review.written_by.username }}</h4>
        <p>Rating: {{ review.rating }}
</p>
        <p>{{ review.content }}</p>
        <p>Created on: {{ review.date_created }}</p>
        {% if review.date_edited %}
            <p>Last edited on: {{ review.date_edited }}</p>
        {% endif %}
                    </div>
                    {{ review.number_of_likes }}

                    {% if user in review.likes.all %}
                        <a href="{% url 'review_like' review.id %}"><i class="fa-solid fa-heart" style="color:red"></i></a>
                    {% else %}
                        <a href="{% url 'review_like' review.id %}"><i class="fa-regular fa-heart" style="color:red"></i></a>
                    {% endif %}
                    <a href="{% url 'review_share' review.id %}"><i class="fa-solid fa-share" style="color:gray"></i></a>

                </div>
    </div>
        {% empty %}
            <p>No reviews available for this book.</p>
        {% endfor %}

    </div>
</div>



{% endblock %}