{% extends "base.html" %}

{% load static %}

{% block title %}Book Details{% endblock %}

{% block content %}

<div class="container-xxl d-flex justify-content-center">
    <div class="text-center">

        <h2 class="mb-5">{{ book.title }}</h2>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <!-- Placeholder for the book cover -->
                    {% if book.cover_url %}
                    <img src="{{ book.cover_url }}" alt="Book Cover" class="book-cover">
                    {% endif %}
                </div>
                <div class="col-md-6 text-left mt-5">
                    <a class="book-info-detail" href="#"><b>{{ book.author }}</b></a>
                    <p class="rating-detail mt-3">⭐️{{ book.rating_small }}</p>
                    <p class="summary mt-3">{{ book.summary }}</p>
                    <p>Genres: {{ book.genres }}</p>
                    <div class="button-container mt-3 text-center">
                        <a class="button-56 book-info" href="{{ book.url }}" target="_blank">View this book on Goodreads</a>
                    </div>
                    <div class="buttons-user mt-5">
                        <a class="button-6" href="{% url 'mark_as_read' book.id %}"><i class="fa-solid fa-check"></i></a>
                        <a class="button-6" href="{% url 'bookmark_book' book.id %}"><i class="fa-solid fa-bookmark"></i></a>
                        <a href="{% url 'create_review' pk=book.id %}">Write a Review</a>
                        </div>
                </div>
            </div>
        </div>

        <div class="review">
        <h2>Reviews</h2>
        {% for review in reviews %}

        <div class="alert alert-light" role="alert">
                <div class="container">
                    <div class="row">
        <h4>Review by {{ review.written_by.username }}</h4>
        <p>Rating: {{ review.rating }}</p>
        <p>{{ review.content }}</p>
        <p>Created on: {{ review.date_created }}</p>
        {% if review.date_edited %}
            <p>Last edited on: {{ review.date_edited }}</p>
        {% endif %}
                    </div>
                </div>
    </div>
{% empty %}
    <p>No reviews available for this book.</p>
{% endfor %}

    </div>
</div>



{% endblock %}