{% extends "base.html" %}

{% load static %}

{% block title %}Comment Review{% endblock %}

{% block content %}

<div class="container-xxl text-center">
        <div class="row">
                <div class="snippets-section">
                <h2 class="mt-5 mb-5">Original Review:</h2>
                <div class="review mb-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-2">
                                {% if original_review.user.profile.profile_image %}
                                <img class="profile-image-snippet" src="{{ original_review.written_by.profile.profile_image.url }}">
                                {% endif %}
                            </div>

                            <div class="col-10">
                                {{ original_review.content }} {% if request.user.id == review.user.id %} <a href="#"><i class="fa-solid fa-eraser"></i></a>{% endif %} <br/>
                                <small class="text-muted"> posted by <a href="{% url 'profile' original_review.written_by.profile.user.id %}">@{{ original_snippet.user.username }}</a>
                                     on
                                    {{ original_review.date_created }}
                                    {{ original_review.number_of_likes }}

                                    {% if user in original_review.likes.all %}
                                    <a href="{% url 'review_like' original_review.id %}"><i class="fa-solid fa-heart" style="color:red"></i></a>
                                    {% else %}
                                    <a href="{% url 'review_like' original_review.id %}"><i class="fa-regular fa-heart" style="color:red"></i></a>

                                    {% endif %}
                                    <a href="{% url 'review_share' original_review.id %}"><i class="fa-solid fa-share" style="color:gray"></i></a>
                                </small>

                            </div>
                        </div>
                    </div>
                </div>


        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="button-56" type="submit">Share comment!</button>
        </form>
           </div>
        </div>

        {% endblock %}