{% extends "base.html" %}

{% load static %}

{% block title %}Review{% endblock %}

{% block content %}

<div class="container-xxl d-flex justify-content-center">
    <div class="text-center">

    <div class="book-detail-container">
    <h2>{{ book.title }}</h2>

    <div class="row">
                <div class="col-6">
                    <div class="book-cover">
                    {% if book.cover_url %}
                    <img src="{{ book.cover_url }}" alt="Book Cover" class="book-cover">
                    {% endif %}
                        </div>
                </div>


        <div class="col-6">

<div class="review-card">
        <form method="post">
    {% csrf_token %}
            <div class="rating-card">
            <div class="stars">
        <i class="fas fa-star star"></i>
        <i class="fas fa-star star"></i>
        <i class="fas fa-star star"></i>
        <i class="fas fa-star star"></i>
        <i class="fas fa-star star"></i>
    </div>
                </div>

    <div class="form-group">
        <label for="{{ form.content.id_for_label }}"></label>
        {{ form.content }}
    </div>
    <input type="hidden" id="id_rating" name="rating">

    <button class="button-56" type="submit">Submit</button>
</form>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>

<script src="{% static 'star-rating.js' %}"></script>
{% endblock %}